body {
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    font-size:12px;
    margin: 2px;
    padding: 2px;
}
/* Headers */
h1 {
    font-family : verdana, arial;
    font-size:22px;
    font-weight: bold;
    color : #3A8B41;
    padding: 1px;
    margin: 1px;
}
h2 {
    font-family : verdana, arial;
    font-size:15px;
    font-weight: bold;
    color : #A62A2A;
    font-weight: normal;
    padding: 1px;
    margin: 1px;
}
h3 {
    font-family : verdana, arial;
    font-size:13px;
    font-weight: bold;
    font-weight: normal;
    padding: 1px;
    margin: 1px;
}
a {
    color:#0000CC;
    text-decoration: underline;
    cursor:pointer;
}
a:hover {
    text-decoration: none;
}
img {
    border: 0px;
    vertical-align: middle;
}

button {
    text-decoration: none;
    text-align: center;
    width: auto;
}
.button {
    padding: 1px;
    text-decoration: none;
    text-align: center;
    width: auto;
}

#header { min-height:55px; height: auto; width:980px; margin:0 auto; padding: 0}
#main-shell { min-height: 768px; height: auto; width:980px; margin: 0 auto; }

#login h3 {
    font-family:Baskerville, "Tahoma", Symbol, serif;
    font-style:normal;
    font-size:22px;
    font-weight: bold;
    color : #FFFFFF;
    font-weight: normal;
}
#login h4 {
    color:maroon;
    font-family:Baskerville, "Tahoma", Symbol, serif;
    font-style:normal;
}
#login {
    font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
#login tr {
    height:20px;
}
#login td {
    font-size: 12px;
    padding:5px;
}

#farms-online h1 {
    text-transform: uppercase;
    font-family : verdana, arial;
    font-size:15px;
    font-weight: bold;
    color : #0000FF;
    padding: 1px;
    margin: 1px;
}
#farms-online a.button {
    padding: 2px;
    display: block;
    background-color: #0000CC;
    text-decoration: none;
    text-align: center;
    text-indent: 2pt;
    font-size : 12px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #1E461E;
    line-height: 1.5em;
    color: #FFFFFF;
    white-space: nowrap;
    min-width: 150px;
    background:transparent url(../img/bg-active-menu1.bmp) repeat-x top left;
}
#farms-online a.button:hover {
    border: 1px solid #0000CC;/*green;/*#E6EEFF;*/
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size : 12px;
    background: #36893F;/*#0000CC;*/
    color:  #FFFFFF;
    background:transparent url(../img/bg-menu1.bmp) repeat-x top left;
}
#farms-online img.link {
    vertical-align: top;
    border: 1px black solid;
}
#farms-online img.link:hover {
    vertical-align: top;
    border: 1px orange solid;
    cursor: hand;
}

#farms-offline h1 {
    text-transform: uppercase;
    font-family : verdana, arial;
    font-size:15px;
    font-weight: bold;
    color : #0000FF;
    padding: 1px;
    margin: 1px;
}
#farms-offline a.button {
    padding: 2px;
    display: block;
    background-color: #0000CC;
    text-decoration: none;
    text-align: center;
    text-indent: 2pt;
    font-size : 12px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #1E461E;
    line-height: 1.5em;
    color: #FFFFFF;
    white-space: nowrap;
    min-width: 150px;
    background:transparent url(../img/bg-active-menu1.bmp) repeat-x top left;
}
#farms-offline a.button:hover {
    border: 1px solid #0000CC;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size : 12px;
    background: #36893F;/*#0000CC;*/
    color:  #FFFFFF;
    background:transparent url(../img/bg-menu1.bmp) repeat-x top left;
}
#farms-offline img.link {
    vertical-align: top;
    filter: alpha(opacity=30);
    opacity: .30;
    border-color: #C6C6C6;
    border: 1px black solid;
}

.table-simple {
    border : 1px solid #C6C6C6;
    border-collapse:collapse;
    width: 100%;
    table-layout: auto;
}
.table-simple td {
    padding: 3px;
}

.table-screens {
    border : 1px solid #C6C6C6;
    border-collapse:collapse;
/*    table-layout: auto;*/
}
.table-screens tr.selected {
    background: darkorange ;
}
.table-screens td.label {
    /*text-align: left;*/
    height:20px;
    border : 1px solid #C6CFE7;
    border-collapse: collapse;
    background-color : #D5EFFF;
    color : #000000;
    font-weight : normal;
    font-size: small;
}
.table-screens td.value {
    min-width:50px;
}
.table-screens th {
    text-align:center;
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:bold;
    color:blue;
    background-color:#FFFF99;
    height:12pt;
    vertical-align: bottom;

}
.table-screens tr.selected{
    background:orange;
}
.table-screens tr.unselected{
    background:white;
}
.table-screens a {
    vertical-align: bottom;
}
.table-screens img {
    vertical-align: top;
}

.table-pages { height:20px; padding:3px 8px; line-height:19px; color:#949494;

}
.table-pages a { background:url(../img/pagging.gif) repeat-x 0 0; height:20px; float:left; padding:0 8px; border:solid 1px #d5d5d5; text-decoration: none; color:#949494; margin-left:5px;  }
.table-pages a:hover { border-color:#8c3521; background:#ba4c32; color:#fff;  cursor: hand;}
.table-pages a.active { border-color:#8c3521; background:#ba4c32; color:#fff; }

.table-list {
    border : 1px solid #C6C6C6;
    border-collapse:collapse;
    width: 100%;
    table-layout: auto;
}
.table-list th {
    height:20px;
    border : 1px solid #C6C6C6;
    border-collapse: collapse;
    background-color : #D5EFFF;
    color : #000000;
    font-weight : bold;

}
.table-list tr.odd {
    background-color:#FFFFFF;
}
.table-list tr.even {
    background-color:#EEEEFF;
}
.table-list tr.selected {
    background:#ADD8E6;
    color: #FFFFFF;
}
.table-list td {
    padding: 3px;
}


.table-list-small {
    border : 0px solid #C6C6C6;
    border-collapse:collapse;
    width: 100%;
}
.table-list-small td {
    font-family : verdana, arial;
    font-size:12px;
    color : #949494;
    padding: 1px;
    margin: 1px;
}



.comment {
    font-family : verdana, arial;
    font-size:10px;
    color : #949494;
    padding: 10px;
    margin: 10px;
    line-height: 1.0em;
}
.errMsg {
    color : #000000;
    text-align:center;
    font-weight : bold;
    border-width : 1px;
    border-color : #FF0000;
    border-style : solid;
    height:50px;
    width:350px;
}
.warnMsg {
    color : #000000;
    font-weight : bold;
    border-width : 1px;
    border-color : #008800;
    border-style : solid;
}
.infoMsg {
    color : #000000;
    text-align:center;
    font-weight : bold;
    border-width : 1px;
    border-color : #0000FF;
    border-style : solid;
    height:50px;
    width:350px;
}

.helpLink:hover {
    text-decoration: underline;
}
.helpLink {
    background-color : #FFFFFF;
    color : #0000FF;
    font-weight: bold;
    font-size:13px;
    padding:0px 0px 0px 0px;
    margin:0px;
    cursor:help;
    cursor: pointer;
}
#helpBox {
    background-color:#F0EFFF;
    color: #0000FF;
    overflow: hidden;
    z-index:999;
    position:absolute;
    margin:auto;
    width:250px;
    height:250px;
    padding-left:0px;
    border: 2px solid black;
    display:none;
}
#helpBoxInner {position: relative;color:Black;background-color:#ffffff;left: 0px;top: 0px;overflow: auto;width:195px;height:338px;border: 0px;padding: 5px;margin: 0px;font-size:11px;}
#helpBox a {color: #0000FF;}
#helpBoxInner p {padding: 0px 0px 0px 0px;}

#footer { height:60px; white-space:nowrap; vertical-align: bottom; text-align: center;}
.banner { font-family: Verdana, sans-serif; text-align: center;}
.banner a { text-align: center; }
.banner a:hover { text-decoration: underline; }
.hitcount { margin:0 auto; height:20px; max-width:100px ; padding:3px 3px; line-height:19px; color:#FFFFFF; text-align: center;}
.hitcount p { background:url(../img/pagging.gif) repeat-x 0 0; height:20px;color:#949494;}