#mnubar {
    padding: 0;
    margin: 0;
}
/*--------------------- topnav menu style --------------------*/
#mnu {
    background-color:  #0000CC;
    font-size : 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    list-style: none;
    font: 12px Tahoma, arial;
    background:transparent url(../img/bg-menu1.bmp) repeat-x top left;
}
#mnu a {
    padding: 2px;
    display: block;
    background-color: #0000CC;/* #3A8B41;/*#E6EEEE;*/
    text-decoration: none;
    text-align: center;
    text-indent: 2pt;
    font-size : 12px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    border: 1px solid #0000CC;/*green;/*#E6EEFF;*/
    line-height: 1.5em;
    color: #FFFFFF;
    white-space: nowrap;
    min-width: 150px;
    background:transparent url(../img/bg-menu1.bmp) repeat-x top left;
}
#mnu a.active {
    background-color: #36893F;
    border: 1px solid #1E461E;
    background:transparent url(../img/bg-active-menu1.bmp) repeat-x top left;
    /*background: #0000CC;*/
}
#mnu a:link, #mnu a:visited {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}
#mnu a:hover, #mnu a:active {
    border: 1px solid #1E461E;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size : 12px;
    background: #36893F;/*#0000CC;*/
    color:  #FFFFFF;
    background:transparent url(../img/bg-active-menu1.bmp) repeat-x top left;
}
