/*
    Document   : multiopt
    Created on : Dec 5, 2010, 3:58:07 PM
    Author     : JanL
    Description:
        Purpose of the stylesheet follows.
*/
root {
    display: block;
}
select, ul {
    height: 250px;
    overflow: auto;
    max-width: 250px;
    border: 1px solid #000;
}
ul {
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
}
li {
    margin: 0;
    padding: 0;
}
label {
    display: block;
    color: WindowText;
    background-color: Window;
    border: 1px solid collapse;
    margin: 0; padding: 0;
}
label:hover {
    background-color: Highlight;
    color: HighlightText;
}

