/* 
    Document   : progressbar
    Created on : Nov 2, 2010, 3:23:55 PM
    Author     : JanL
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

#divSlider {
    height:20px;
    width:0px;
    background-color:blue;
    position:relative;
    top:-21px;
    left:1px;
}

#divSliderBG {
    height:20px;
    width:424px;
    background-color:transparent;
    border:black 1px solid;
}
