* {
    padding: 0px;
    margin: 0 auto;
}
body {
    font-family:Arial,Verdana,Helvitica,sans-serif;
}
h1 {
    font-family:Verdana, Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    margin:0;
    padding:0;
}
hr {
    border:none;
    border-top:1px solid #CCCCCC;
    height:1px;
    margin-bottom:25px;
}
#menu{
    position:relative;
    display:block;
    height:21px;
    font-size:11px;
    font-weight:bold;
    background:transparent url(../img/bgOFF.gif) repeat-x top left;
    font-family:Arial,Verdana,Helvitica,sans-serif;
    border-bottom:1px solid #d9d9d9;
}
#menu ul{
    margin:0;
    padding:0;
    list-style-type:none;
    width:auto;}
#menu ul li{
    display:block;
    float:left;
    margin:0 1px 0 0;
}
#menu ul li a{
    display:block;
    float:left;
    color:#034895;
    text-decoration:none;
    padding:3px 20px 0 20px;
    height:18px;
}
#menu ul li a:hover,#menu ul li a.current{
    color:#034895;
    background:transparent url(../img/bgON.gif) repeat-x top left;
}
#header{
    position:relative;
    margin:0 auto 0;
    display:block;
    width:960px;
    padding:0 0 20px 0;
}
#header #logo{
    display:block;
    float:left;
    width:300px;
    margin-top:7px;
    overflow:hidden;
}
#header #userpanel{
    display:block;
    float:right;
    width:300px;
    margin-top:7px;
    overflow:hidden;
}
#header #logo h1, #header p, #header ul{
    list-style:none;
    line-height:normal;
}
#header #logo h1{
    font-size:32px;
}
.logo {
    border: 0px;
}
.userpanel {
    overflow: hidden; vertical-align: top;
}
